.contact-section {
    margin-bottom: 8px;
    position: relative;
    left: 550px;
  }

  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .input {
    width: 200px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .edit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 610px;
    border: 1px solid green;
    border-radius: 5px;
    margin: 25px;
  }
  .abcde{
    background-color: aquamarine;
  }